<div class="container mx-auto py-20 lg:px-20 font-ibm">
  <!-- Breadcrumb -->
  <nav class="flex text-sm text-secondary-paragraph mb-6">
    <a routerLink="/" class="text-primary-paragraph hover:underline">
      {{ "COCREATION.breadcrumb.parent" | translate }}
    </a>
    <span class="mx-2">›</span>
    <span class="font-semibold text-text-display">
      {{ "COCREATION.breadcrumb.current" | translate }}
    </span>
  </nav>

  <!-- Title & Description -->
  <h1 class="font-bold text-3xl text-text-display mb-4">
    {{ "COCREATION.page.title" | translate }}
  </h1>
  <hr class="border-0 mb-12" />

   <p class="text-sm text-semibold text-center ltr:text-left rtl:text-right">
        {{ 'COCREATION.page.description' | translate}}
        <a routerLink="/page-not-found" class="text-[#1B8354] hover:underline">{{ 'COCREATION.page.tafaul' | translate}}</a>
    </p>

    <hr class="border-0 h-100" />

</div>