<div class="mayors-content">
  <h1>{{ 'MAYORS.TITLE' | translate }}</h1>
  <p class="intro">{{ 'MAYORS.INTRO' | translate }}</p>
  
  <div class="mayors-list">
    <div class="mayor-item">
      <div class="circle"></div>
      <div class="mayor-text">{{ 'MAYORS.MAYOR_1' | translate }}</div>
    </div>
    
    <div class="mayor-item">
      <div class="circle"></div>
      <div class="mayor-text">{{ 'MAYORS.MAYOR_2' | translate }}</div>
    </div>
    
    <div class="mayor-item">
      <div class="circle"></div>
      <div class="mayor-text">{{ 'MAYORS.MAYOR_3' | translate }}</div>
    </div>
    
    <div class="mayor-item">
      <div class="circle"></div>
      <div class="mayor-text">{{ 'MAYORS.MAYOR_4' | translate }}</div>
    </div>
    
    <div class="mayor-item">
      <div class="circle"></div>
      <div class="mayor-text">{{ 'MAYORS.MAYOR_5' | translate }}</div>
    </div>
    
    <div class="mayor-item">
      <div class="circle"></div>
      <div class="mayor-text">{{ 'MAYORS.MAYOR_6' | translate }}</div>
    </div>
    
    <div class="mayor-item">
      <div class="circle"></div>
      <div class="mayor-text">{{ 'MAYORS.MAYOR_7' | translate }}</div>
    </div>
    
    <div class="mayor-item">
      <div class="circle"></div>
      <div class="mayor-text">{{ 'MAYORS.MAYOR_8' | translate }}</div>
    </div>
    
    <div class="mayor-item">
      <div class="circle"></div>
      <div class="mayor-text">{{ 'MAYORS.MAYOR_9' | translate }}</div>
    </div>
  </div>
</div> 