<div class="princes-content">
    <h1>{{ 'PRINCES.TITLE' | translate }}</h1>
    <p class="intro">{{ 'PRINCES.INTRO' | translate }}</p>
    
    <div class="princes-list">
      <div class="prince-item">
        <div class="circle"></div>
        <div class="prince-text">{{ 'PRINCES.PRINCE_1' | translate }}</div>
      </div>
      
      <div class="prince-item">
        <div class="circle"></div>
        <div class="prince-text">{{ 'PRINCES.PRINCE_2' | translate }}</div>
      </div>
      
      <div class="prince-item">
        <div class="circle"></div>
        <div class="prince-text">{{ 'PRINCES.PRINCE_3' | translate }}</div>
      </div>
      
      <div class="prince-item">
        <div class="circle"></div>
        <div class="prince-text">{{ 'PRINCES.PRINCE_4' | translate }}</div>
      </div>
      
      <div class="prince-item">
        <div class="circle"></div>
        <div class="prince-text">{{ 'PRINCES.PRINCE_5' | translate }}</div>
      </div>
      
      <div class="prince-item">
        <div class="circle"></div>
        <div class="prince-text">{{ 'PRINCES.PRINCE_6' | translate }}</div>
      </div>
      
      <div class="prince-item">
        <div class="circle"></div>
        <div class="prince-text">{{ 'PRINCES.PRINCE_7' | translate }}</div>
      </div>
      
      <div class="prince-item">
        <div class="circle"></div>
        <div class="prince-text">{{ 'PRINCES.PRINCE_8' | translate }}</div>
      </div>
    </div>
  </div>
  