<!-- Top Highlight Section: Full Width Light Green -->
<div class="w-full bg-[#F3FCF6] py-10">
  <div class="container mx-auto px-6 lg:px-20 font-ibm">
    <!-- Breadcrumb -->
    <nav class="flex text-sm text-secondary-paragraph mb-4">
      <a routerLink="/" class="text-primary-paragraph hover:underline">
        {{ "ABOUTUS.breadcrumb.parent" | translate }}
      </a>
      <span class="mx-2">›</span>
      <a routerLink="/e-participation" class="text-primary-paragraph hover:underline">
        {{ "E-PARTICIPATION.page.title1" | translate }}
      </a>
      <span class="mx-2">›</span>
       <span class="font-semibold text-text-display">
        {{ "BENEFICIARY.page.title" | translate }}
      </span>
    </nav>

    <!-- Title -->
    <h1 class="font-bold text-3xl text-text-display">
      {{ "BENEFICIARY.page.title" | translate }}
    </h1>
  </div>
</div>

<!-- Main Page Content: White Background -->
<div class="container mx-auto py-14 lg:px-20 font-ibm">

  <div class="grid lg:grid-cols-3 gap-4">
    <div
      *ngFor="let section of aboutSections"
      class="border border-gray-200 rounded-xl p-6 flex flex-col justify-between hover:shadow transition"
    >
      <!-- Text content in the middle -->
      <div class="flex-grow flex items-center">
        <p class="font-semibold text-[#1f2a37] text-sm">
          {{ section.title | translate }}
        </p>
      </div>

      <!-- Download button at the bottom-right -->
      <div class="flex justify-end mt-4">
        <button
          (click)="downloadFile(section.link)"
          class="w-35 h-8 rounded-sm bg-gray-100 hover:bg-gray-200 flex items-center justify-center transition"
        >
          {{ 'BENEFICIARY.page.download' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
