<section class="about-section py-5xl px-lg lg:px-0">
  <div class="about-header container mx-auto mb-[32px] lg:px-md">
    <div class="flex flex-wrap md:flex-nowrap justify-between items-start">
      <h2 class="font-bold text-xl-bold-font-size mb-[24px]">
        {{ about.title | translate }}
      </h2>
      <button
        pButton
        label="Read More"
        class="ml-auto dga-neutral-primary"
      ></button>
    </div>
    <p class="text-md-regular-font-size w-full md:w-4/6">
      {{ about.text | translate }}
    </p>
  </div>

  <div class="about-content container mx-auto">
    <div class="flex flex-wrap lg:flex-nowrap justify-center">
      <div
        class="state py-4xl px-3xl md:px-6xl md:py-4xl"
        *ngFor="let state of about.stats"
      >
        <div class="icon-wrap bg-brand-light">
          <img [src]="state.icon" alt="{{ state.title }}" />
        </div>
        <h3 class="text-primary-sa-flag text-lg-regular-font-size">
          {{ state.count | translate }}
        </h3>
        <p class="text-md-regular-font-size">{{ state.title | translate }}</p>
      </div>
    </div>
  </div>
</section>
